.root header {
  position: relative;
  min-height: 40vh;
  height: 100vh;
  background-color: var(--yellow);
}
.container {
  width: 85%;
  margin: 0 auto;
}
.brand {
  display: flex;
  justify-content: center;
  padding: 2rem 0 0;
  font-weight: bold;
  text-transform: uppercase;
}
.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: calc(100% - 3.125rem);
  margin-bottom: 2rem;
}
.support h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-size: 3.5rem;
}

.root main {
  padding: 2rem 0;
  min-height: 100vh;
}

.root main h2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.statement {
  flex: 1;
  line-height: 1.5;
}
.statement,
.form,
.reasons {
  padding: 2rem 0;
}
.cta {
  padding: 2rem 0 1rem;
}
.cta button {
  margin: 0 auto;
  padding: 1rem 3rem;
}

@media (min-width: 600px) {
  main .container {
    display: flex;
    flex-wrap: wrap;
  }
  .reasons {
    width: 100%;
  }
  .form {
    width: 40%;
  }
}

@media (min-width: 768px) {
  .support {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 768px;
  }
  .statement {
    margin-right: 2.5rem;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}